red
https://i.imgur.com/oU8TZfS.jpg
black
https://i.imgur.com/l7yLrvP.jpg
golden
https://i.imgur.com/oLtjiZq.jpg
blue
https://i.imgur.com/M8pRg1h.jpg

all aplo
https://i.imgur.com/pBHSUFn.jpg

herms
https://i.imgur.com/VMfWtaC.png